.inf-faq-section {
	margin-bottom: 100px;
	margin-top: 20px;
}

.inf-faq-cont {
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 60px;
}

.inf-faq-cont-last {
	margin-left: 20px;
	margin-right: 0;
	margin-bottom: 0;
}

.inf-faq-cont-txt {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 00px;
}
